.Info-Container {
    margin-bottom: 20px;
    width: 60%;
}

.Info-Container__title {
    color: var(--primary-color);
    font-size: 1.3rem;
    font-weight: var(--fw-bold);
    font-size: 2.5rem;
}

.Info-Container__subtitle{
    color: var(--primary-color);
    font-size: 1.3rem;
    font-weight: var(--fw-light);
    font-size: 1.3rem;
}

.Info-Container__text {
    color: var(--primary-color);
    font-size: 1.3rem;
    font-weight: var(--fw-regular);
}

/***RESPONSIVE***/
 
@media screen and (max-width: 768px) {
    .Info-Container {
        width: 100%;
        text-align: center;
    }

    .Info-Container__title {
        line-height: 2.2rem;
    }
  
 }

 @media screen and (max-width: 1766px) {
    .Info-Container {
        width: 100%;
        text-align: center;
    }
 }