
.AppContainer {
    max-width: 70%;
    min-height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 9%;
    /* From https://css.glass */
    background: rgba(151, 178, 223, 0.31);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(246, 246, 246, 0.3);
    padding: 50px 30px 50px 30px;
}

.AppContainer__img, .AppContainer__info {
    align-self: center;
}

.AppContainer__info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 50px;
}

/***RESPONSIVE***/
 
@media screen and (max-width: 1340px) {
    .AppContainer {
        flex-wrap: wrap;
        max-width: 95%;
        padding: 20px 30px 0px 30px;
        margin-top: 5%;
    }

    .AppContainer__info {
        padding: 30px 0;
    }
 }

@media screen and (min-width: 1341px) and (max-width: 1097px) {
    .AppContainer {
        max-width: 97%;
        margin-top: 4%;
    }
 }

 /*** Background ***/

 .AppBackground_container {
    overflow: hidden;
 }


/*#up {
    position: absolute;
    height: 40vw;
    width: 40vw;
    border-radius: 50%;
    background-image: linear-gradient(80deg, rgb(5, 124, 172), rgba(43, 247, 202, 0.5));
    filter: blur(8vw);
    animation: down 10s infinite;
    z-index: -1;
}

#down {
    position: absolute;
    right: 0;
    height: 25vw;
    width: 25vw;
    border-radius: 50%;
    background-image: linear-gradient(80deg, rgba(245, 207, 82, 0.8), rgba(199, 10, 114, 0.5));
    filter: blur(8vw);
    z-index: -1;
    animation: up 10s infinite;
}*/

#left {
    position: absolute;
    height: 25vw;
    width: 25vw;
    border-radius: 50%;
    background-image: linear-gradient(80deg, rgb(5, 124, 172), rgba(183, 253, 52, 0.8));
    filter: blur(8vw);
    z-index: -1;
    animation: left 10s 0.5s infinite;
}

#right {
    position: absolute;
    height: 25vw;
    width: 25vw;
    border-radius: 50%;
    background-image: linear-gradient(80deg, rgba(26, 248, 18, 0.6), rgba(183, 10, 52, 0.8));
    filter: blur(8vw);
    z-index: -1;
    animation: right 10s 0.5s infinite;
}

/*@keyframes down {
    0%, 100% {
        top: -5vw;
    }
    70% {
        top: 35vw;
    }
}

@keyframes up {
    0%, 100% {
        bottom: -5vw;
    }
    70% {
        bottom: 35vw;
    }
}*/

@keyframes left {
    0%, 100% {
        left: -5vw;
        top: 30rem;
    }
    70% {
        left: 65vw;
    }
}

@keyframes right {
    0%, 100% {
        right: -5vw;
        top: 15rem;
    }
    70% {
        right: 65vw;
    }
}

/* Media Queries */
@media (max-width: 768px) {
    #up, #down, #left, #right {
        height: 50vw;
        width: 50vw;
        filter: blur(5vw);
    }

    @keyframes down {
        0%, 100% {
            top: -10vw;
        }
        70% {
            top: -25vw;
        }
    }

    @keyframes up {
        0%, 100% {
            bottom: 10vw;
        }
        70% {
            bottom: 35vw;
        }
    }

    @keyframes left {
        0%, 100% {
            left: -10vw;
            top: 30rem;
        }
        70% {
            left: 8vw;
        }
    }

    @keyframes right {
        0%, 100% {
            right: 1vw;
            top: 20rem;
        }
        90% {
            right: 30vw;
        }
    }
}
