.AppContainer {
    max-width: 70%;
    min-height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 4rem;
    /* From https://css.glass */
    background: rgba(151, 178, 223, 0.31);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(246, 246, 246, 0.3);
    padding: 50px 30px 50px 30px;
}

.AppContainer__img, .AppContainer__info {
    align-self: center;
}

.AppContainer__info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 50px;
}

/***RESPONSIVE***/
 
@media screen and (max-width: 768px) {
    .AppContainer {
        max-width: 95%;
        margin-top: 1rem;
        padding: 20px 30px 0px 30px;
    }

    .AppContainer__info {
        padding: 30px;
    }
  
 }