.profile__img {
    border-radius: 30px;
    max-width: 500px;
    min-width: 340px;
}

/***RESPONSIVE***/
 
@media screen and (max-width: 768px) {
    .profile__img {
        max-width: 340px;
    }
  
 }

 @media screen and (max-width: 744px) {
    .profile__img {
        max-width: 340px;
    }
 }