.profile__img {
    max-width: 400px;
    min-width: 300px;
}

/***RESPONSIVE***/
 
@media screen and (max-width: 768px) {
    .profile__img {
        max-width: 300px;
    }
  
 }

 @media screen and (max-width: 744px) {
    .profile__img {
        max-width: 300px;
    }
 }