.Button-Container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    text-decoration: none;
}

.Button-Container > * {
    min-width: fit-content;
    flex: 1;
}

.Portfolio-button {
    display: flex;
    justify-content: space-between;
    color: var(--light-color);
    padding: 15px 15px;
    border-radius: 15px;
    cursor: pointer;
    margin: 10px auto;
    font-weight: var(--fw-bold);
    text-transform: uppercase;
}

.Portfolio-button:hover {
    border: var(--light-color) 2px solid;
    background-color: transparent;
    color: var(--light-color);
}

.button_uxui {
    background-color: var(--primary-color);
    border: var(--primary-color) 2px solid;
}

.button_art {
    background-color: var(--accent-color);
    border: var(--accent-color) 2px solid;
}

/***RESPONSIVE***/
 
@media screen and (max-width: 768px) {
    .Button-Container {
        text-align: center;
    }

    .Button-Container {
        gap: 0;
    }
  
 }

@media screen and (min-width: 1100px) and (max-width: 1800px) {
    .Button-Container {
        text-align: center;
        margin: auto;
    }
 }

 